h1,
p {
  font-family: Lato;
}

.bold-text {
  font-weight: 800;
}

.smaller-text {
  font-size: 70%;
}

.wider {
  max-width: 90% !important;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
